@page {
    size: 3.7in 3in;
    margin: 0;
    padding: 0;
}

.page-container {
    width: 3.2in;
    height: 3in;
    padding: 0;
    margin: auto;
    background: white;
    box-shadow: 0 0 5px red;
    font-family: 'Bosch Office Sans';
    font-size: 11pt;
    position: relative;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

@media print {
    body {
        margin: 0.1in;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-container {
        width: 3.2in;
        height: 3in;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}